<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Status Update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-color: rgb(220, 248, 220); /* Light Green color */
        }

        .container {
            max-width: 400px; /* Limit container width */
            margin: 50px auto; /* Add margin for better centering */
        }

        .form-group {
            margin-bottom: 1rem; /* Add some spacing between form elements */
        }

        .btn-group {
            justify-content: center; /* Center buttons horizontally */
        }
    </style>
    <script>
        function validateDriverId() {
            const driverIdInput = document.getElementById("driverId");
            const driverIdValue = driverIdInput.value;

            if (isNaN(driverIdValue) || !/^-?\d+$/.test(driverIdValue)) {
                alert("Please enter a valid driver ID (whole number).");
                driverIdInput.focus(); // Set focus on the input for correction
                return false; // Prevent form submission if validation fails
            }

            return true; // Allow form submission if validation passes
        }
    </script>
</head>

<body>

<div class="container">
  <h2>Order Status: <span th:text="${orderManager.status}">Pending</span></h2>
  <form th:action="@{/updateStatus/delivered}" method="post" onsubmit="return validateDriverId()">

    <div class="form-group">
        <label for="driverId">Enter Driver ID:</label>
        <input type="number" class="form-control" id="driverId" name="driverId" placeholder="Driver ID">
    </div>

    <div class="btn-group">
        <a th:href="@{/updateStatus/orderPickedUp}" class="btn btn-primary">Order Picked</a>
        <a th:href="@{/updateStatus/onTheWay}" class="btn btn-warning">On The Way</a>
        <button type="submit" class="btn btn-success">Delivered</button>
    </div>

  </form>
</div>

</body>

</html>
